<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="../static/demo2.css" />
</head>
<body>
<h2>profile:{{uid}}</h2><br>

{# 注释 #}

{% for i in range(0,5): %}
profile:i<br>
{% endfor %}

#for color in colors:
{{loop.index}} {{color}}<br>
#endfor

{% filter upper %}
{% for k,v in infos.items(): %}
{{k}} {{v}}<br>
{% endfor %}
{% endfilter %}

{% macro render_color(color) %}
<div>This is {{ color }}</div><br> {{ caller() }}
{% endmacro %}

{% for color in colors: %}
    {% call render_color(color) %}
    {% endcall %}
{% endfor %}

</body>
</html>