<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>登陆注册</title>
  <link rel="stylesheet" media="screen" href="../static/styles/pages/login.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/pages/reset.css"/>
</head>
<body>
{% block content %}
<div id="particles-js">
		<div class="login">
            <form method="post" id="regloginform">
                <div class="login-top">
                    {% if (msg | length) > 0 %}
                    <b>{{msg}}</b>
                    {% else %}
                    logo
                    {% endif %}
                </div>
                <div class="login-center clearfix">
                    <div class="login-center-input">
                        <input aria-label="用户名" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="请输入用户名" value="" type="text" data-reactid=".0.1.0.1.0.1.0.5.0">
                        <div class="login-center-input-text">用户名</div>
                        <div class="login-center-img"><img src="../static/images/res/name.png"/></div>
                    </div>
                </div>
                <div class="login-center clearfix">
                    <div class="login-center-input">
                        <input aria-describedby="" aria-label="密码" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="请输入密码" type="password" value="" data-reactid=".0.1.0.1.0.1.0.6.0">
                        <div class="login-center-input-text">密码</div>
                        <div class="login-center-img"><img src="../static/images/res/password.png"/></div>
                    </div>
                </div>

                <input type="hidden" name="next" value="{{next}}"/>
                <div class="btn-wrapper">
                    <button class="btn-primary" onclick="form=document.getElementById('regloginform');form.action='/login/';">登录</button>
                    <button class="btn-primary" onclick="form=document.getElementById('regloginform');form.action='/reg/';">注册</button>
                </div>
                <p class="agreenment">
                    <span>注册即表示你同意我们的 </span>
                    <a class="agreenment-link" href="/legal/terms/" target="_blank">条款</a>
                    <span data-reactid=".0.1.0.1.0.1.0.9.2"> 和 </span>
                    <a class="agreenment-link" href="/legal/privacy/" target="_blank">隐私权政策</a>
                    <span> 。</span>
                </p>
            </form>
		</div>
		<div class="sk-rotating-plane"></div>
</div>
{% endblock%}

<!-- scripts -->
<script src="../static/js/particles.min.js"></script>
<script src="../static/js/app.js"></script>
<script type="text/javascript">
	{#function hasClass(elem, cls) {#}
	{#  cls = cls || '';#}
	{#  if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false#}
	{#  return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');#}
	{# } #}
    {##}
	{#function addClass(ele, cls) {#}
	{#  if (!hasClass(ele, cls)) {#}
	{#    ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;#}
	{#  }#}
	{# } #}
    {##}
	{#function removeClass(ele, cls) {#}
	{#  if (hasClass(ele, cls)) {#}
	{#    var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';#}
	{#    while (newClass.indexOf(' ' + cls + ' ') >= 0) {#}
	{#      newClass = newClass.replace(' ' + cls + ' ', ' ');#}
	{#    }#}
	{#    ele.className = newClass.replace(/^\s+|\s+$/g, '');#}
	{#  }#}
	{# } #}
	{#	document.querySelector(".btn-primary").onclick = function(){#}
	{#			addClass(document.querySelector(".login"), "active")#}
	{#			setTimeout(function(){#}
	{#				addClass(document.querySelector(".sk-rotating-plane"), "active")#}
	{#				document.querySelector(".login").style.display = "none"#}
	{#			},800)#}
	{#			setTimeout(function(){#}
	{#				removeClass(document.querySelector(".login"), "active")#}
	{#				removeClass(document.querySelector(".sk-rotating-plane"), "active")#}
	{#				document.querySelector(".login").style.display = "block"#}
	{#				alert("登录成功")#}
    {# #}
	{#			},5000)#}
	{#	}#}
</script>
</body>
</html>