<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>后台管理</title>
  <link rel="stylesheet" href="../../static/admin/css/font-awesome.css">
  <link rel="stylesheet" href="../../static/admin/css/style.css">
</head>

<body>

<nav class="menu-wrap">
    <div style="margin: 18px 10px">
        <img src="../../static/images/res/cxy.png"/>
    </div>
	<div class="menu">
		<ul>
			<li>
				<a href="">
					<i class="fa fa-home fa-lg"></i>
					<span class="nav-text">首页</span>
				</a>
			</li>
			<li>
				<a href="/admin_index/user/">
					<i class="fa fa-user fa-lg"></i>
					<span class="nav-text">用户管理</span>
				</a>
			</li>
			<li>
				<a href="/admin_index/comment/">
					<i class="fa fa-envelope-o fa-lg"></i>
					<span class="nav-text">评论管理</span>
				</a>
			</li>
			<li class="darkerlishadow">
				<a href="/admin_index/fabulous/">
					<i class="fa fa-heart-o fa-lg"></i>
					<span class="nav-text">点赞管理</span>
				</a>
			</li>

			<li class="darkerli">
				<a href="/admin_index/image/">
					<i class="fa fa-picture-o fa-lg"></i>
					<span class="nav-text">图片管理</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>
    <img src="../../static/images/res/cxy.png" height="80px" width="280px"/>
</p>
    <hr style="margin: 40px 0"/>
    <p>欢迎登陆图片分享后台管理</p>

</div>
</body>
</html>