/* header */
.header {
    height: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.lz6s{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    top: 0;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 99;
}
.zhanwei{height: 60px;}

.header-cont {
    height: 70px;
    padding: 0 20px;
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    float: left;
    background: url(../../images/res/favicon.png) no-repeat;
    height: 46px;
    width: 46px;
    text-indent: -9999em;
    margin-top: 10px;
}

.web-menu {
    float: right;
    margin-top: 12px;
}
.profile-ico {
    background-image: url(../../images/img/icons.png);
    background-repeat: no-repeat;
    background-position: -132px -33px;
    height: 40px;
    width: 40px;
    display: inline-block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    margin-right: 10px;
}
.profile-ico:hover {
    background-position: -87px -33px;
}
.pro-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*vertical-align: middle;*/
    overflow: hidden;
    border: 1px solid #dbdbdb;
    margin-right: 5px;
}
.pro-avatar img {
    width: 40px;
}
.pro-avatar:hover {
    border: 2px solid #020000;
}
